* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
                         /* FONTS */

  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Cormorant&family=Dancing+Script:wght@700&family=Inter:wght@700&family=Lumanosimo&family=Roboto+Mono:wght@700&display=swap');


                     /* HEADER STYLING */


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
}

.header a {
  font-family: 'Lumanosimo', cursive;
  text-decoration: none;
  color: rgba(67, 65, 65, 0.681);
}



                    /* MAIN STYLING */


.homepage {
  display: flex;
  background-image: url("./components/images/willian-justen-de-vasconcellos-jUCQRQeRs3k-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}

.about p {
  font-family: 'Cormorant', serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 150px;
  border: 5px solid rgba(77, 173, 176, 0.728);
  border-radius: 3%;
  text-align: center;
  margin-left: 40px;
}

.languages{
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 80px 0px 30px 30px  ;
  padding: 10px;
}

.languages img {
  height: 45px;
  width: 40px;
  background-color: rgba(21, 74, 77, 0.835);
  border-radius: 20%;
}

.myImage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myImage img {
  width: 35%;
  border: 5px solid rgba(35, 41, 41, 0.399);
  border-radius: 50%;
  margin-top: 75px;
}

.myImage h2 {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 35px;
  width: fit-content;
  margin-top: 10px;
}

.leftpnl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectButton {
  text-align: center;
  background-color:rgba(76, 169, 160, 0.892);
  color: rgb(26, 70, 69);
 font-size: 16px;
 font-weight: 400;
 border-radius: 6px;
 border: 2px solid rgb(36, 120, 97);
 box-shadow: 0 6px 14px 0;
 width: 110%;
 font-family: 'Roboto Mono', monospace;
 margin-top: 20px;
}


                 /* FOOTER STYLING */

.contactBar{
  background-color: rgba(169, 157, 146, 0.374);
  display: flex;
  justify-content: center;
  width: 100%; 
  position: fixed;
  bottom: 0;
}

.links img {
  height: 30px;
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

             /* PROJECTS COMPONENT STYLING */


.projects{
  background-image: url("./components/images/projectsbackground.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;  
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}             

.projects h1{
  height: fit-content;
  padding-top: 5%;
  margin-bottom: 30px;
  font-size: 70px;
  font-family: 'Inter', sans-serif;
  color: rgb(254, 158, 158); 
  text-shadow: -1px -1px 0 #000;
}

.projects h4 {
  width: fit-content;
  color:rgb(255, 255, 255);
  position: fixed;
  bottom: 50px;
}

.projectsContainer{
  height: 40%;
  width: 100%;
  background-color: rgb( 254, 239, 239);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectsContainer img {
  height: 80%;
  width: 60%;
  margin: 15px 35px;
}
.dogAppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  
}

.memoryGameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.projectsContainer a {
  text-decoration: none;
  color: rgb(162, 92, 1);
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
}



             /* MEDIA QUERIES MOBILE */

@media screen and (max-width: 767px) {
  .homepage {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;

    
  }
  .about{
    width: 90vw;
  }
  .about p {
    margin-left: 0px;
    margin-top: 10px;
  }

  .languages{
    margin: 80px 0px 0px 0px ;
  }

  .myImage{
  margin-bottom: 12px;
  }

  .projects h1{
    font-size: 50px;
  
  
  }

  .projectsContainer img {
    margin: 15px 15px;
    height: 60%;
    width: 40%;
  }


.leftpnl {
  margin-bottom: 50px;
}
}